@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Roboto', sans-serif;
    background: #80808012;
}

.dropdown-items {
    @apply cursor-pointer text-sm text-gray-600 px-5 py-1 my-1
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;

}


.hover-dropdwon-item {
    transition: all 0.3s;
    opacity: 0;
    top: 40px;
}

.hover-dropdown:hover .hover-dropdwon-item {
    visibility: visible;
    opacity: 1;
    top: 32px;
}




.top_header_item {
    @apply cursor-pointer p-1 text-[#7e7e7e] font-normal tracking-wide text-[13px] font-roboto
}

.sm-top-header {
    background: url('/assets/notice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
}


.common_btn{
    @apply rounded-md w-full text-gray-600  py-[6px]  font-semibold
}