@tailwind base;
@tailwind components;
@tailwind utilities;


::selection{
    @apply bg-primary text-white
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    background: #fff;
}
.scrollbar{
    @apply scrollbar-thin scrollbar-thumb-primary/20 scrollbar-track-gray-100 scrollbar-thumb-rounded-full
}

.dropdown-items {
    @apply cursor-pointer text-sm text-gray-600 px-5 py-1 my-1
}

@layer components {
    .top_products {
        @apply text-[24px] text-[#253d4e] font-bold border-b border-gray-200 py-6 relative before:absolute before:w-24 before:border before:border-[#3ee77b]/40 before:bottom-0 before:left-0;
    }
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;

}

.home_popup{
    background-image: url('/assets/popup-1.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    
}

.hover-dropdwon-item {
    transition: all 0.3s;
    opacity: 0;
    top: 40px;
}

.hover-dropdown:hover .hover-dropdwon-item {
    visibility: visible;
    opacity: 1;
    top: 32px;
}




.top_header_item {
    @apply cursor-pointer p-1 text-[#7e7e7e] font-normal tracking-wide text-[13px] font-roboto
}

.sm-top-header {
    background: url('/assets/notice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
}


.common_btn {
    @apply rounded-md w-full py-[6px] font-semibold
}


.nav_item_content {

    left: -10px;
    top: 72px;
}

.nav_item_hover:hover .nav_item_content {
    visibility: visible;
    opacity: 1;
    left: 0px;
}

.nav_item_hover:hover .nav_item {
   @apply text-primary
}

.nav_stick {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    animation-name: fadeInDown;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    transition: all .3s ease 0s;
    background: white;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3D(0, -75px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3D(0);
    }
}

.banner_slider {
    border-radius: 30px;
    background-size: cover;
    background-position: center center;
}

.banner_paginate_bullet {
    @apply rounded-full border border-primary inline-block m-[5px] cursor-pointer ;
    width: 16px;
    height: 16px;

}

.banner_paginate_bullet_active {
    @apply border border-primary/10 bg-primary;
}

.home_banner .banner_next,
.home_banner .banner_prev {
    visibility: hidden;
    transition: 0.4s;
    opacity: 0;
    margin: 0 15px;
}

.home_banner:hover .banner_next,
.home_banner:hover .banner_prev {
    visibility: visible;
    opacity: 1;
    margin: 0 30px;
}

.home_banner .swiper-pagination {
    bottom: 28px !important;
}

.cat_card_img {
    transition: all 0.4s;
}

.cat_card_img:hover {
    transform: scale(1.1);
}

.cat_card {
    transition: all 0.4s;
}

.cat_card:has(.cat_card_img:hover) {
    box-shadow: 1px 2px 8px 2px #c7c5c561;
}

.cat_card:hover {
    box-shadow: 1px 2px 8px 2px #c7c5c561;
}

.advantage_card .advantage_image {
    transition: all 0.4s;
}

.advantage_card:hover .advantage_image {
    transform: translateY(-7px);
}

.daily_cat_card {
    background-image: url('/assets/banner-4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.product_card:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
}
.product_card .card_image1{
    transition: all 1.5s cubic-bezier(0,0,.05,1);
    visibility: visible;
}
.product_card:hover .card_image1{
    visibility: hidden;
}

.product_card .card_image2{
    top: 0;
    z-index: 2;
    transition:  .25s opacity, .25s visibility, transform 1.5s cubic-bezier(0,0,.2,1);
    visibility: hidden;
    position: absolute;
    opacity: 0;

}
.product_card:hover .card_image2{
    visibility: visible;
    opacity: 1;
    transform: scale3d(1.05,1.05,1.05) translateZ(0);
}
.product_card .product_action{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    
}
.product_card:hover .product_action{
    visibility: visible;
    opacity: 1;
    
}


.product_card .product_action li small {
    font-weight: 500;
    visibility: hidden;
    transform: translateX(-50%) translateY(0px);
    bottom: 100%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 11px;
    padding: 7px 10px;
    color: white;
    background-color: #3bb77e;
    line-height: 1.3;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .1);
    transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71,1.7,.77,1.24);
    opacity: 0;
}

.product_card .product_action li small::before {
    content: "";
    position: absolute;
    left: calc(50% - 7px);
    bottom: 0;
    border: 7px solid transparent;
    border-top-color: #3bb77e;
    z-index: 9;
    margin-bottom: -13px;
    transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71,1.7,.77,1.24);

}

.product_card .product_action li:hover small{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-8px);
}

.daily_best_slider{
    padding-bottom: 20px;
}

.deals_card .deals_card_content {
    transition:  0.6s;
}

.deals_card .deals_card_content .deals_content {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .05);
}

.deals_card:hover .deals_card_content {
    transform: translateY(-5px);
}


/* about page */


.about_wave{
    background-image: url('/assets/about/wave.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 36px;
}

.counter_section .counter{
    background-image: url('/assets/about/about-9.png');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.team_card .card_content .content{
  transition: all 0.3s;
}
.team_card:hover .card_content .content{
   transform: translateY(-100px);
}


.vendor-conver{
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
   
}


/* range slider */


.slider {
    position: relative;
    width: 100%;
  }
  
.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
  }
  
.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
.slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }
  
.slider__range {
    /* background-color: #3BB77E;
    z-index: 2; */
    @apply bg-primary z-[2]
  }
  
.slider__left-value,
.slider__right-value {
    color: #6e6e6e;
    font-size: 12px;
    margin-top: 25px; 
  }
  
.slider__left-value {
    left: 6px;
  }
  
.slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
    margin-top: 2px;
  }
  
.thumb--left {
    z-index: 3;
  }
  
.thumb--right {
    z-index: 4;
  }
  
  /* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    @apply bg-primary border-0 rounded-full cursor-pointer h-[20px] w-[20px] pointer-events-auto relative

  }

.thumb::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 0px 8px #3BB77E50;

}
  
  /* For Firefox browsers */
.thumb::-moz-range-thumb {
    @apply bg-primary  border-0 rounded-full cursor-pointer h-[20px] w-[20px] pointer-events-auto relative;
    box-shadow: 0 0 1px 1px #ced4da;
  }
  
  .thumb::-moz-range-thumb:active {
    box-shadow: 0px 0px 0px 8px #3BB77E50;
}
  

/* pagination style */


.page-link{
    @apply cursor-pointer p-2 w-9 h-9 rounded-full font-semibold text-sm flex items-center justify-center
}