@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    background: #fff;
}

.dropdown-items {
    @apply cursor-pointer text-sm text-gray-600 px-5 py-1 my-1
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;

}


.hover-dropdwon-item {
    transition: all 0.3s;
    opacity: 0;
    top: 40px;
}

.hover-dropdown:hover .hover-dropdwon-item {
    visibility: visible;
    opacity: 1;
    top: 32px;
}




.top_header_item {
    @apply cursor-pointer p-1 text-[#7e7e7e] font-normal tracking-wide text-[13px] font-roboto
}

.sm-top-header {
    background: url('/assets/notice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
}


.common_btn {
    @apply rounded-md w-full py-[6px] font-semibold
}


.nav_item_content {

    left: -10px;
    top: 71px;

}

.nav_item_hover:hover .nav_item_content {
    visibility: visible;
    opacity: 1;
    left: 0px;
}

.nav_item_hover:hover .nav_item {
    color: #3BB77E;
}

.banner_slider {
    border-radius: 30px;
    background-size: cover;
    background-position: center center;
}

.banner_paginate_bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #3BB77E;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.banner_paginate_bullet_active {
    border: 1px solid #0000;
    background: #3BB77E;
}

.home_banner .banner_next,
.home_banner .banner_prev {
    visibility: hidden;
    transition: 0.4s;
    opacity: 0;
    margin: 0 15px;
}

.home_banner:hover .banner_next,
.home_banner:hover .banner_prev {
    visibility: visible;
    opacity: 1;
    margin: 0 30px;
}

.home_banner .swiper-pagination {
    bottom: 28px !important;
}

.cat_card_img {
    transition: all 0.4s;
}

.cat_card_img:hover {
    transform: scale(1.1);
}

.cat_card {
    transition: all 0.4s;
}

.cat_card:has(.cat_card_img:hover) {
    box-shadow: 1px 2px 8px 2px #c7c5c561;
}
.cat_card:hover {
    box-shadow: 1px 2px 8px 2px #c7c5c561;
}

.advantage_card .advantage_image{ 
   transition: all 0.4s;
}
.advantage_card:hover .advantage_image{
    transform: translateY(-7px);
}